doctype html
html
  head
    title #{pageTitle} | #{siteName}
    script(src="https://kit.fontawesome.com/85541ce103.js", crossorigin="anonymous")
  body
    include ../partials/header
    main
      block content
    include ../partials/footer

